*{
	margin: 0;
	padding: 0;
}

body{

}

header{

}

/* --- Sidebar ---*/
.sidebar {
	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #fff;
  	box-shadow: 2px 2px 5px grey;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
}

.sidebar a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 14px;
  	color: #000;
  	display: block;
  	transition: 0.3s;
}

.sidebar a:hover {
  	color: #003466;
}

.sidebar .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 20px;
 
}

.openbtn {
  	font-size: 30px;
  	cursor: pointer;
  	background-color: #fff;
  	color: linear-gradient(#003466, #006DD7);;
  	padding: 10px 15px;
  	border: none;
}

.openbtn:hover {
  	color: #003466;
}

#main {
  	transition: margin-left .5s;
  	padding: 16px;
}

@media screen and (max-height: 450px) {
  	.sidebar {
  		padding-top: 15px;
  	}
  	.sidebar a {
  		font-size: 18px;
  	}
}

/*--- Poems Logo ---*/
.logo img{
	width: 280px;
	height: 100px;
}

/*--- Login ---*/
.loginbutton button{
	width: 112px;
	height: 44px;
	margin: 30px 50px 0px 40px;
	color: #FFF !important;
	background-image: linear-gradient(#003466, #006DD7);
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
}
/*--- Navbar Style ---*/

.navbar{
	background-image: linear-gradient(#003466, #006DD7);
	height: 40px;
	margin-bottom: 20px;
}

.navbar .nav-item a{
    color: #FFF !important;
    font-family: sans-serif;
	font-style: normal;
	font-size: 12px;
	margin-right: 15px;
	margin-left: 15px;
}

.navbar .nav-item a:link,
.navbar .nav-item a:visited{
	text-decoration: none;
	transition: all 0.2s;
}

.navbar .nav-item a:hover,
.navbar .nav-item a:active{
	background-image: linear-gradient(#006DD7, #003466);
	color: #003466;
	padding-right: 15px;
	padding-left: 15px;
}

/*--- Main Body Area ---*/
section{
	margin-top: 10px;
	margin-bottom: 10px;
}

.articlelist section{
	margin-top: 20px;
	box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    background-image: linear-gradient(#eee, #fff);
}

.article section{
	margin-top: 20px;
	background-image: linear-gradient(#eee, #fff);
	box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
}

.article img{
	width: 100%;
}

.article h3{
	color: #003466;
	text-align: justify;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.articletitle h2{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #003466;
	margin-top: 10px;
}

.articlelist img{
	width: 200px;
	height: 140px;
	margin: 10px;
}

.articlelist h4{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #003466;
	margin-top: 10px;
	margin-left: 10px;
}

.articlelist p{
	font-family: sans-serif;
	margin-top: 10px;
	margin-left: 10px;
}

.articleinfo {
	margin : 20px;
	text-align: justify;
}

.articleinfo h3{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #003466;
}

.articleinfo p{
	font-family: sans-serif;
	font-size: 14px;
}

.articleinfo li{
	font-family: sans-serif;
	font-size: 14px;
	margin-left: 30px;
}

.articlechoice{
	margin-left: 30px;
	margin-right: 30px;
}

.articlechoice img{
	width: 100px;
	height: 70px;
	margin: 10px;
}

.articlechoice h4{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #003466;
	margin-left: 35px;
	margin-top: 30px;
}

/*--- Card ---*/
.main{
	margin: 2%;
}

.card{
    width: 230px;
    height: 230px;
    display: inline-block;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px; 
    margin: 5%;
}

.image img{
	width: 100%;
  	border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
}

.title h5{
  	text-align: center;
  	font-size: 16px;
  	font-weight: bold;
  	color: #003466;
  	padding: 5px;
  	font-family: Helvetica;
  	font-weight: bold;
}

.title p{
	text-align: center;
  	font-size: 12px;
  	font-family: sans-serif;
}

.cardevents{
    width: 100%;
    display: inline-block;
    box-shadow: 2px 2px 5px grey;
    border-radius: 30px; 
}

.menutitle h3{
	font-family: sans-serif;
	font-size: 30px;
	color: #003466;
	padding: 5px;
}

/*--- News ---*/
.newsarea section{
	box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
}

.title h4{
  	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.imagenews img{
	width: 225px;
	height: 125px;
  	margin: 10px;
  	position: center;
}

.videoarea section{
	box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
}

.video iframe{
	width: 225px;
	height: 125px;
  	margin: 10px;
  	position: center;
}

/*--- Right Bar ---*/
aside{
	width: 20%
}

/*--- Footer ---*/
footer{
	background-color:  #003466;
	clear: both;
	margin-top: 50px;
}

.footerinfo h6{
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
	padding: 5px;
}

#disclaimer {
    width: 90%;
    margin: auto;
    padding: 0px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555656;
    color: #FFF;
    margin-bottom: 20px;
}

.ojk_license {
    padding: 10px 10px 10px 20px;
    color: #fff;
    float: left;
    font-size: 12px;
}

.copyright2 {
    padding: 10px 20px 10px 10px;
    color: #fff;
    float: right;
    font-size: 12px;
}

.clear {
    clear: both;
}

.diclaimerContent {
    background-color: #454646;
    padding: 10px;
}

.diclaimerContent p {
    font-size: 11px;
}

#disclaimer p.engVer {
    font-style: italic;
}

.accordion {
  background-image: linear-gradient(#003466, #006DD7);
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 10px;
  transition: 0.4s;
  border-color: #003466;
  border-style: solid;
}

.active, .accordion:hover {
  background-image: linear-gradient(#006DD7, #003466);
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel table {
  width:100%;
}
.panel table, th, td {
  border-collapse: collapse;
}
.panel th, td {
  padding: 5px;
  
}
.panel table#t01 tr:nth-child(even) {
  background-color: #ddd;
}
.panel table#t01 tr:nth-child(odd) {
 background-color: #eee;
}
.panel table#t02 tr:nth-child(even) {
  background-color: #ddd;
}
.panel table#t02 tr:nth-child(odd) {
 background-color: #eee;
}

.panel table#t03 tr:nth-child(even) {
  background-color: #ddd;
}
.panel table#t03 tr:nth-child(odd) {
 background-color: #eee;
}
.panel table#t01 th {
  background-color: #eee;
  color: black;
  font-size: 10px;
  text-align: center;
}

.panel table#t03 th {
  background-color: #eee;
  color: black;
  font-size: 10px;
  text-align: center;
}
.panel table#t01 td {
  color: black;
  font-size: 10px;
  padding-left: 20px;
}

.panel table#t02 td {
  color: black;
  font-size: 10px;
  padding-left: 20px;
}

.panel table#t03 td {
  color: black;
  font-size: 10px;
  padding-left: 20px;
}

.column section{
	border-radius: 3px;
	border-color: #eee;
	box-shadow: 2px 2px 5px #eee;
}

.column h3{
	font-size: 14px;
	text-align: center;
	padding: 5px;
	color: #003466;
	font-weight: bold;
	margin-top: 30px;
}

.newsbtn button{
	width: 200px;
	height: 50px;
	margin: 20px 100px 20px 300px;
	color: #000 !important;
	background-image: linear-gradient(#bbb, #eee);
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-radius: 30px;
}