* {
  margin: 0;
	padding: 0;
}

body {

}

header {

}

a {
  text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- Sidebar Section --- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
	top: 0;
	left: 0;
  background-color: #fff;
 	box-shadow: 2px 2px 5px grey;
 	overflow-x: hidden;
 	transition: 0.7s; 
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  font-size: 14px;
  color: #000;
  display: block;
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  font-size: 14px;
  color: #000;
  display: block;
  font-weight: bold;
  margin-bottom: 0px;
}

.sidebar a:hover {
  color: #006DD7;
  font-weight: bold;
  padding-left: 50px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}

.sidebar img{
  width: 20px;
  height: 20px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #fff;
  color: linear-gradient(#003466, #006DD7);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: #003466;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
  	padding-top: 15px;
  }
  .sidebar a {
  	font-size: 18px;
  }
}

.img-fluid img{
  width: 100%;
}

/* --- Login Section --- */
.loginbutton button {
	width: 100%;
  height: 44px;
  margin-bottom: 30px; 
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 30px;
  color: #003466;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
}

.openbutton button {
  width: 100%;
  height: 44px;
  margin-bottom: 30px; 
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 0px;
  color: #003466;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
}

.openbutton img {
  width: 20px;
}

.loginbutton img {
  width: 20px;
}

.loginbutton button:hover {
  color: #006DD7;
  border: 1px solid #fff;
}

.openbutton button:hover {
  color: #006DD7;
  border: 1px solid #fff;
}

/* --- Login Modal Section --- */
.modal img {
  margin-bottom: 10px;
}

.modal form {
  margin: 20px;
}

.modal input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal input[type=password], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal input[type=submit] {
  width: 100%;
  background-color: #003466;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.modal input[type=submit]:hover {
  background-image: linear-gradient(#003466, #006DD7);
}

.modal a {
  color: #000;
}

.modal p {
  text-align: center;
  margin-bottom: 0px;
}

.openaccount button {
  width: 100%;
  background-color: #FF9501;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.openaccount button:hover {
  background-image: linear-gradient(#FF9501, #FFD001);
}

/* --- Forgot Password Section --- */
.forgot section {
  border: 2px solid #aaa;
}

.forgot img {
  margin-left: 160px;
  margin-bottom: 10px;
}

.forgot form {
  margin: 20px;
}

.forgot input[type=text], select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.forgot input[type=password], select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.cancel input[type=submit] {
  width: 100%;
  background-color: #FF9501;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 30px;
}

.confirm input[type=submit] {
  width: 100%;
  background-color: #003466;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 30px;
}

.confirm input[type=submit]:hover {
  background-image: linear-gradient(#003466, #006DD7);
}

.cancel input[type=submit]:hover {
  background-image: linear-gradient(#FF9501, #FFD001);
}

/* -- Navbar Section -- */

.topnav {
  background-color: #003466;
  overflow: hidden;
  margin-bottom: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: sans-serif;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 12px;
  width: 12.5%;
}

.topnav a:hover {
  font-weight: bold;
  color: #FFA722;
}

.topnav a.active {
  font-weight: bold;
  color: #FFA722
}

.topnav .icon {
  display: none;
}

.topnav img{
  height: 20px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon, .topnav.responsive a.icon.active {
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    width: 100%;
    padding: 10px 15px;
    float: none;
    display: block;
    text-align: left;
  }
}

/* -- Article Section -- */
section {
	margin-bottom: 10px;
}

.articlelist section {
	margin-top: 20px;
  border-radius: 5px;
  background-image: linear-gradient(#eee, #fff);
}

.articlelist section:hover {
  background-image: linear-gradient(#ddd, #fff);
  box-shadow: 2px 2px 5px grey;
}

.article section {
	margin-top: 20px;
	background-image: linear-gradient(#eee, #fff);
  border-radius: 5px;
}
 
.article img {
	width: 100%;
}

.profunds img {
  width: 100%;
  box-shadow: 1px 1px 1px #eee;
}

.profunds h3 {
  color: #003466;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.article h3 {
	color: #003466;
	text-align: justify;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.article h4 {
  color: #003466;
  text-align: justify;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 12px;
}

.articletitle h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #003466;
}

.articletitle h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #003466;
  margin-top: 20px;
}

.articlelist img {
	width: 100%;
	height: 140px;
	margin: 10px;
}

.articlelist h4 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #003466;
	margin-top: 10px;
  margin-right: 10px;
}

.articlelist h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #003466;
  margin-top: 50px;
}

.articlelist p {
  color: #000;
	font-family: sans-serif;
	margin-top: 10px;
  margin-right: 10px;
}

.articleinfo {
	margin : 20px;
	text-align: justify;
}

.articleinfo h3 {
  font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #003466;
}

.articleinfo p {
	font-family: sans-serif;
	font-size: 12px;
}

.articleinfo li {
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 30px;
}

.articlechoice img {
	width: 100%;
	height: 70px;
	margin: 10px;
}

.articlechoice h4 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #003466;
	margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}

.articlechoice section:hover {
  background-image: linear-gradient(#fff, #eee);
  box-shadow: 2px 2px 5px grey;
}

/* -- Card Section -- */

.card {
  height: 250px;
  display: inline-block;
  border-radius: 5px; 
  margin: 5%;
}

.card:hover {
  box-shadow: 2px 2px 5px grey;
  background-image: linear-gradient(#eee, #fff);
}

.image img {
	width: 100%;
  border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 0.7s ease;
}

.inner:hover img {
  transform: scale(1.2);
}

.title h5 {
  text-align: center;
  font-size: 16px;
	font-weight: bold;
  color: #003466;
  padding: 5px;
  font-family: Helvetica;
  margin-top: 15px;
}

.title h3 {
  text-align: left;
  font-size: 14px;
  color: #000;
  padding: 5px;
  font-family: sans-serif;
  margin: 10px;
  margin-top: 0px;
}

.title h6 {
  text-align: left;
  font-size: 10px;
  color: #003466;
  padding: 5px;
  font-family: sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.title p {
	text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.menutitle h3 {
	font-family: sans-serif;
	font-size: 30px;
	color: #003466;
	padding: 5px;
}

/*--- News ---*/
.newsarea section {
  border-style: solid;
  border-color: #eee;
  border-radius: 5px;
}

.news:hover {
  background-image: linear-gradient(#eee, #fff);
}

.title h4 {
  font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
  color: #000;
}

.imagenews img {
	width: 225px;
	height: 125px;
  margin-left: 20px;
  margin-top: 15px;
  position: center;
}

.newschoice img {
  width: 100%;
  height: 120px;
}

.newschoice h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #003466;
  text-align: left;
}

.newschoice p {
  font-family: sans-serif;
  font-size: 10px;
  color: #000;
  margin-bottom: 5px;
  text-align: justify;
  margin-right: 20px;
}

.newschoice section:hover {
  background-image: linear-gradient(#fff, #eee);
}

/*--- Video Section ---*/

.videoarea section {
  border-style: solid;
  border-color: #eee;
  border-radius: 5px;
}

.video object {
	width: 90%;
	height: 125px;
  margin: 15px;
}


/*--- Footer Section ---*/
footer {
	background-color: #003466;
	clear: both;
	margin-top: 50px;
}

.footerinfo h6 {
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
	margin-top: 30px;
  margin-bottom: 15px;
}

.footerinfo p {
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 10px;
}

.footerinfo a {
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
}

.footerinfo a:hover {
  color: #FFA722;
}

#disclaimer {
  margin: auto;
  padding: 0px 30px 20px;
  font-family: sans-serif;
  background-color: #555656;
  color: #FFF;
  margin-top: 20px;
}

.ojk_license {
  padding: 10px 20px 10px 20px;
  color: #fff;
  float: left;
  font-size: 12px;
  text-align: center;
}

.copyright2 {
  padding: 10px 20px 10px 10px;
  color: #fff;
  float: right;
  font-size: 12px;
  text-align: center;
}

.clear {
  clear: both;
}

.diclaimerContent {
  background-color: #454646;
  padding: 10px;
}

.diclaimerContent p {
  font-size: 11px;
  text-align: justify;
}

#disclaimer p.engVer {
  font-style: italic;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.panel table {
  width: 94%;
}

.rightcolumn th, td {
  padding: 5px;
}

.profunds table, th, td {
  border: 1px solid #003466 !important;
  border-collapse: collapse;
}

.rightcolumn table#t01 tr:nth-child(even) {
  background-color: #ddd;
}

.rightcolumn table#t01 tr:nth-child(odd) {
 background-color: #eee;
}

.rightcolumn table#t02 tr:nth-child(even) {
  background-color: #ddd;
}

.rightcolumn table#t02 tr:nth-child(odd) {
 background-color: #eee;
}

.rightcolumn table#t03 tr:nth-child(even) {
  background-color: #ddd;
}

.rightcolumn table#t03 tr:nth-child(odd) {
 background-color: #eee;
}

.rightcolumn  table#t01 th {
  color: #fff;
  font-size: 10px;
  text-align: center;
  background-color: #006DD7;
}

.rightcolumn table#t03 th {
  background-color: #006DD7;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.rightcolumn table#t01 td {
  color: black;
  font-size: 10px;
}

.rightcolumn table#t02 td {
  color: black;
  font-size: 10px;
}

.rightcolumn table#t03 td {
  color: black;
  font-size: 10px;
}

.panel table#t05 {
  margin : 15px;
}

.panel table#t05 th {
  background-color: #ccc;
  color: black;
  font-size: 10px;
  text-align: center;
  border-style: solid;
}

.panel table#t05 td {
  color: black;
  font-size: 10px;
}

.panel table#t05 tr:nth-child(even) {
  background-color: #ddd;
}

.panel table#t05 tr:nth-child(odd) {
 background-color: #eee;
}

.rightcolumn section {
	border-radius: 5px;
	border: 2px solid #aaa;
  background-color: #eee;
  margin-bottom: 20px;
}

.rightcolumn h3 {
	font-size: 14px;
	text-align: center;
	padding: 5px;
  margin-top: 8px;
	color: #000;
	font-weight: bold;
}

.newsbtn button {
	width: 200px;
	height: 50px;
	margin: 20px 100px 20px 300px;
	color: #000 !important;
	background-image: linear-gradient(#bbb, #eee);
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-radius: 30px;
}

.newsbtn button:hover {
  background-image: linear-gradient(#eee, #bbb);
}

.rightcolumn table {
  width: 96%;
  margin: 5px;
}

.profunds table {
  width: 97% !important;
  margin-left: 12px;
  margin-top: 12px;
}

.profunds th{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 11px !important;
}

.profunds td{
  padding: 5px;
  text-align: center;
  font-size: 11px !important;
}

.profunds table tr:nth-child(even) {
  background-color: #ddd;
}

.profunds table tr:nth-child(odd) {
 background-color: #fff;
}

.profunds table th {
  background-color: #006DD7;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.pdf img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.categorylist section {
  margin-bottom: 30px;
  border-style: solid;
  border-color: #eee;
  border-radius: 5px;
}

.categorylist img {
  height: 30px;
}

.categorylist li:hover {
  background-image: linear-gradient(#eee, #fff);
}

.categorylist h3 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  padding: 5px;
  margin-bottom: 8px;
  text-align: center;
  }

.categorylist h4 {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
}

.categorylist h5 {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.categorylist h6 {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.contact img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.contactcity h4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #006DD7;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.contact h5 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #006DD7;
  margin-left: 10px;
  margin-top: 10px;
}

.contact h6 {
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

.contact p {
  font-family: sans-serif;
  font-size: 12px;
  color: #006DD7;
  margin-left: 10px;
  margin-top: 10px;
}

.cardcontact {
  width: 100%;
  height: 200px;
  display: inline-block;
  margin-bottom: 30px;
}

.faq input[name=tabs] {
  display:none;
}

.faq input[name=tabs] + label {
  margin-top: 10px;
  padding: 8px;
  background: #ccc;
  border-radius: 5px;
  color: #000;
  font-size: 12px;
  margin-bottom: 10px;
}

.faq input[name=tabs]:checked + label {
  border:solid 1px #aaa;
  background-image: linear-gradient(#bbb, #eee);
  font-weight: bold;
}

.faq p {
  font-size: 12px;
  margin :15px;
  text-align: justify;
}

.faq li {
  font-size: 12px;
  margin-left :35px;
  margin-right: 15px;
  margin-top: 15px;
}

.toggle li {
  font-size: 12px;
  margin: 0px;
}

.faq .accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #aaa;
  width: 96%;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  transition: 0.4s;
  font-family: sans-serif;
  border-radius: 5px;
  margin-left: 10px;
}

.faq .active, .accordion:hover {
  background-image: linear-gradient(#eee, #fff);
}

.faq .accordion p{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.faq .panel {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 93%;
  margin-left: 17px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin-top: 50px;
  margin-bottom: 10px;
}

.pagination a.active {
  background-image: linear-gradient(#ccc, #fff);
  color: #000;
  border: 1px solid #aaa;
}

.pagination a:hover:not(.active) {
  font-weight: bold;
}

.cashdiv th, td {
  padding: 5px !important;
  text-align: center;
  font-size: 10px !important;
}

.cashdiv table#t05 tr:nth-child(even) {
  background-color: #ddd;
}

.cashdiv table#t05 tr:nth-child(odd) {
 background-color: #fff;
}

.cashdiv table#t05 th {
  background-color: #006DD7;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.rightcolumn .nav .nav-item a {
  padding: 5px;
  background: #ddd;
  color: #000;
  font-size: 10px;
  border: 1px solid #bbb;
}

.rightcolumn .nav .nav-item a:link,
.rightcolumn .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.rightcolumn .nav .nav-item a:hover,
.rightcolumn .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
  font-weight: bold;
}

.rightcolumn .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(#fff, #eee);
  font-weight: bold;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 2px solid #aaa;
}

.profunds .nav {
  background-color: #fff;
  margin-top: 20px;
}

.profunds .nav .nav-item a {
  padding: 10px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

.profunds .nav .nav-item a:link,
.profunds .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.profunds .nav .nav-item a:hover,
.profunds .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
}

.profunds .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(#ddd, #eee);
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.faq .nav {
  margin-top: 20px;
}

.faq .nav .nav-item a {
  padding: 10px;
  background: #ddd;
  color: #000;
  font-size: 14px;
  border: 1px solid #bbb;
  height: 100%;
}

.faq .nav .nav-item a:link,
.faq .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.faq .nav .nav-item a:hover,
.faq .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
}

.faq .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(#fff, #eee);
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.faq .tab-content>.active {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  }

.glossary h4 {
  font-size: 14px;
  font-weight: bold;
  color: #006DD7;
  margin-top: 10px;
  margin-left: 0px;
}

.glossary p {
  font-size: 12px;
}

.glossary .nav {
  margin-top: 20px;
}

.glossary .nav .nav-item a {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  color: #000;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-left: 5px;
  margin-bottom: 5px;
}

.glossary .nav .nav-item a:link,
.glossary .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.glossary .nav .nav-item a:hover,
.glossary .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
}

.glossary .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

.disclaimers .content {
  background-color: #eee;
}

.disclaimers .content h4 {
  background-color: #006DD7;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.disclaimers .content h5 {
  text-align: center;
  color: red;
  font-size: 14px;
}

.disclaimers .content h6 {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  color: #006DD7;
}

.disclaimers .content p {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
}

.disclaimers .content li {
  font-size: 14px;
  margin-left: 40px;
  margin-right: 20px;
  color: #000;
}

.regularbutton section {
  background-color: #347AB6;
  color: #fff;
  border-radius: 75px;
  width: 100%;
  height: 110px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.regularbutton h4 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.regularbutton h6 {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.shariabutton section {
  background-color: #5BB95B;
  color: #fff;
  border-radius: 75px;
  width: 100%;
  height: 110px;
  margin-top: 50px;
}

.shariabutton h4 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.shariabutton h6 {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.tablepro table#t11, th, td {
  border: 1px solid #003466;
  border-collapse: collapse;
}

.detailprofundsmenu img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  margin-left: 0px;
  box-shadow: none;
}

.detailprofundsmenu a {
  font-size: 14px;
  color: #000;
}

.detailprofundsmenu p {
  margin-bottom: 0px;
  margin-left: 0px;
  border-bottom: 1px solid #aaa;
}

.detailprofundsmenu .nav {
  background-color: #aaa;
  margin-top: 0px;
}

.detailprofundsmenu .nav .nav-item a {
  color: #000;
  background-color: #eee;
  border-radius: 0px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 5px;
}

.detailprofundsmenu .nav .nav-item a:link,
.detailprofundsmenu .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.detailprofundsmenu .nav .nav-item a:hover,
.detailprofundsmenu .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
  font-weight: bold;
  background-image: linear-gradient(to right, #eee, #fff);
  border-radius: 0px;
  border-right: 2px solid #fff;
}

.detailprofundsmenu .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(to right, #eee, #fff);
  font-weight: bold;
  border-right: 2px solid #fff;
  border-radius: 0px;
}

.detailpro section {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #eee;
}

.detailpro .titlepro {
  margin-top: 10px;
}

.detailpro .titlepro h3 {
  font-size: 14px;
  color:  #003466;
}

.detailpro .titlepro h2 {
  font-size: 18px;
  color:  #003466;
}

.detailpro .titlepro button {
  font-size: 12px;
  color: #fff;
  background-image: linear-gradient(#5BB95B, #5CCD00);
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  margin-left: 15px;
}

.detailpro .titlepro button:hover {
  background-image: linear-gradient(#5CCD00, #5BB95B);
}

.detailpro .contentpro h5 {
  font-size: 12px;
  color: #006DD7;
  border-bottom: 1px solid #000;
  margin-top: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.tablepro table {
  width: 100% !important;
  margin: 0px;
}

.tablepro table#t11 tr:nth-child(even) {
  background-color: #fff;
}

.tablepro table#t11 tr:nth-child(odd) {
 background-color: #eee;
}

.tablepro table#t11, th, td {
  border: 1px solid #003466;
  border-collapse: collapse;
}

.tablepro td {
  padding: 5px;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.tablepro th {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.footpro table {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100% !important;
  background-image: radial-gradient(#fff, #eee);
}

.footpro th {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}

.footpro td {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color: #5BB95B;
  font-weight: bold; 
}

.tabspro .nav {
  margin-top: 0px;
  background-color: #eee;
}

.tabspro .nav .nav-item a {
  padding: 5px;
  background: #fff;
  color: #000;
  font-size: 12px;
  border: 1px solid #ccc;
}

.tabspro .nav .nav-item a:link,
.tabspro .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.tabspro .nav .nav-item a:hover,
.tabspro .nav .nav-item a:active {
  color: #000;
  transition: 0.5s;
}

.tabspro .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(#aaa, #eee);
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.tabspro img {
  margin: 0px;
  box-shadow: none;
  margin: 10px;
}

.detailpro .contentpro p {
  font-size: 12px;
  text-align: justify;
  font-family: sans-serif;
  margin-left: 0px;
}

.detailpro .contentpro img {
  margin-left: 0px;
  width: 100%;
}


.comparisonn p {
  text-align: left;
  margin-bottom: 5px;
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 0px;
}

.dropbtn {
  background-color: #006DD7;
  color: white;
  padding: 5px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  z-index: 1;
  min-width: 200px;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  font-size: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-content a:hover {
  background-color: #ccc
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #003466;
}

.prosbutton button {
  padding: 5px;
  margin-top: 10px;
  background-color: #006DD7;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  width: 120px;
}

.factbutton button {
  padding: 5px;
  margin-top: 10px;
  background-color: #006DD7;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  width: 120px;
  float: right;
}

.classection section {
  margin-top: 20px;
  border: 1px solid #003466;
  height: 67px;
  width: 80px;
}

.classection .navsec h4 {
  font-size: 12px;
  background-color: #006DD7;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  margin-left: 0px;
}

.classection .aumsec h4 {
  font-size: 12px;
  background-color: #5CCD00;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  margin-left: 0px;
}

.classection h3 {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding: 5px;
}

.classection .navsec h6 {
  font-size: 8px;
  background-color: #003466;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.classection .aumsec h6 {
  font-size: 8px;
  background-color: #5BB95B;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.iconmedia img {
  width: 20px;
  margin-right: 16px;
}

.iconmedia img:hover {
  padding-bottom: 5px;
}

.profunds .dataTables_length label{
  margin-left: 12px;
  font-size: 12px;
}

.profunds .dataTables_filter label{
  margin-right: 14px;
  font-size: 12px;
}

.profunds .dataTables_wrapper .dataTables_paginate{
  margin-right: 15px;
}

.profunds .dataTables_wrapper .dataTables_paginate a{
  font-size: 12px;
}

.profunds .dataTables_info{
  font-size: 12px;
  margin-left: 12px;
}

.cashdiv .dataTables_length label{
  font-size: 12px;
}

.cashdiv .dataTables_filter label{
  font-size: 12px;
}

.cashdiv .dataTables_wrapper .dataTables_paginate a{
  font-size: 12px;
}

.cashdiv .dataTables_info{
  font-size: 12px;
}

.sorting, .sorting_asc, .sorting_desc{
  padding-right: 0px !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #006DD7;
  color: white;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

#myBtn:hover {
  color: #FF9501;
}

.newschoice section{
  margin-bottom: 0px;
}

.newschoice td{
  border: none !important;
}

.small .nav {
  background-color: #eee;
  margin-top: 0px;
}

.small .nav .nav-item a {
  color: #000;
  background-color: #eee;
  border-radius: 0px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 10px;
  height: 100%;
}

.small .nav .nav-item a:link,
.small .nav .nav-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.small .nav .nav-item a:hover,
.small .nav .nav-item a:active {
  color: #fff;
  transition: 0.5s;
  font-weight: bold;
  background-image: linear-gradient(#eee, #fff);
  border-radius: 0px;
  border-right: none;
  height: 100%;
}

.small .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  background-image: linear-gradient(#eee, #fff);
  font-weight: bold;
  border-right: none;
  border-radius: 0px;
  height: 100%
  color: #fff;
}

.small p {
  margin-bottom: 0px;
  margin-left: 0px;
  border-bottom: none;
  font-size: 14px;
  color: #000;
}

.small img {
  width: 25px;
  height: 25px;
  margin-bottom: 8px;
  margin-left: 0px;
  box-shadow: none;
}

.glossary td{
  border: none !important;
}

.glossary p{
  text-align: justify;
  margin-bottom: 0px;
}

.glossary li{
  margin-left: 0px;
  text-align: justify;
}

.glossary .dataTables_filter label{
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 12px;
}