body {
  height:100%;
  width: 100%;
}

a {
  text-decoration: none !important;
  line-height: 1.0;
}

.bg-image {
  background-image: url("Assets/LogBackground.jpg");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginbox {
  width: 320px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px 30px;
  border: 1px solid #aaa;
  border-radius: 30px;
}

.loginbox img {
  margin-left: 65px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox button {
  width: 100%;
  margin-top: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.loginbox button {
  border: none;
  outline: none;
  height: 40px;
  background: #003466;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox button:hover {
  cursor: pointer;
  background: #006DD7;
  color: #fff;
  font-weight: bold;
}

.navbar {
  background-color: #003466;
  height: 100%;
}

.navbar .nav-item a {
  color: #FFF;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
}

.main-nav {
  background-color: #003466;
  height: 100%;
}

.main-nav img{
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  box-shadow: none;
}

.main-nav li{
  list-style: none;
  padding-left: 0px;
}

.main-nav a{
  color: #FFF;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #003466;
  margin-left: -45px;
}

.main-nav a:hover{
  padding-left: 30px;
  color: #fff;
}

.main-nav .active{
  color: #FFA722 !important;
}

.main-nav-ul ul{
  display: none;
}

.main-nav-ul li.tap ul{
  display: block;
  margin-left: -30px;
}

.main-nav .sub-arrow:after{
  content: '\203A';
  float: right;
  transform: rotate(90deg);
}

.content h3 {
    font-size: 24px;
    color: #003466;
    font-weight: bold;
    margin-top: 5px;
}

.content h4 {
    font-size: 18px;
    color: #003466;
    font-weight: bold;
    margin-top: 5px;
}

.add button {
    width: 125px;
    padding: 5px;
    background-color: #003466;
    margin-top: 15px;
    color: #fff;
    border: 1px solid #003466;
    font-size: 12px;
    border-radius: 5px;
}

.add img {
    height: 25px
}

.add button:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
}

.iconbtn img {
    height: 15px;
    width: 15px;
    margin-left: -1px;
    margin-top: -2px;
}

.iconbtn button {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(#ddd, #eee);
    border: 1px solid #aaa;
    border-radius: 300px;
}

.iconbtn button:hover {
    background-image: linear-gradient(#eee, #aaa);
}

.contentlist img {
    width: 100px;
    height: 70px;
    margin: 10px;
}

.contentlist h4 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #003466;
    margin-top: 10px;
    margin-left: 10px;
}

.contentlist p {
    font-size: 12px;
    color: #000;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.contentlist section {
    margin-bottom: 10px;
    border-radius: 5px;
    background-image: linear-gradient(#eee, #fff);
    border: 1px solid #aaa;
}

.contentlist section:hover {
    background-image: linear-gradient(#ddd, #fff);
    box-shadow: 2px 2px 5px grey;
}
/*--- Navbar Style ---*/


.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.contact .accordion {
    background-image: linear-gradient(#ccc, #fff);
    color: #000;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #aaa;
    width: 100%;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transition: 0.4s;
    font-family: sans-serif;
  border-radius: 5px;
}

.contact .active, .accordion:hover {
    background-image: linear-gradient(#fff, #ccc);
}

.contact .panel {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}

.panel ul {
    margin: 0px;
    list-style-type:none;
    padding-left: 0px;
}

.panel li {
    padding: 10px;
    background-image: linear-gradient(#eee, #fff);
    margin-bottom: 0px;
}

.panel li:hover {
    background-image: linear-gradient(#fff, #eee);
}

.panel a {
    font-size: 14px;
    color: #000;
}

.panel a:hover {
    font-weight: bold;
    color: #000;
}

.panel button {
    background-image: linear-gradient(#ddd, #eee);
    border: 1px solid #ccc;
    border-radius: 300px;
    float: right;
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

.panel button:hover {
    background-image: linear-gradient(#eee, #aaa);
}

.panel img {
    height: 12px;
    width: 12px;
    margin-left: 0px;
    margin-top: -2px;
}

.pagination {
  display: inline-block;
  float: right;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}

.pagination a.active {
  background-image: linear-gradient(#ccc, #fff);
  color: #000;
  border: 1px solid #aaa;
}

.pagination a:hover:not(.active) {
  background-image: linear-gradient(#eee, #fff);
}

.dropbtn {
  background-color: #003466;
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  z-index: 1;
  min-width: 200px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.dropdown-content a:hover {
  background-color: #ccc
  color: #fff !important;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #003466;
}

.inputdata .row{
    margin-top: 10px;
}

.inputdata p{
    font-size: 14px;
}

.inputdata input[type=text], input[type=tel], input[type=email], input[type=password]{
  width: 100%;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;

}

.inputdata input[type=submit] {
  background-color: #003466;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 14px;
  width: 150px;
  border-radius: 5px;
}

.inputdata input[type=submit]:hover {
  background-image: linear-gradient(#003466, #006DD7);
}

.backto button {
  background-color: #003466;
  color: white;
  padding: 10px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  border-radius: 5px;
}

.backto button:hover {
  background-image: linear-gradient(#003466, #006DD7);
}

.preview button {
  background-color: #003466;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  border-radius: 5px;
}

.preview button:hover {
  background-image: linear-gradient(#003466, #006DD7);
}

.inputdata textarea{  
  overflow:hidden;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: justify;
}

.note-popover .popover-content, .card-header.note-toolbar{
  background-color: #ddd !important;
}

.card {
  display: inline-block;
  border-radius: 5px;
}

.card:hover {
  background-image: linear-gradient(#eee, #fff);
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 0.7s ease;
}

.inner:hover img {
  transform: scale(1.2);
}

.title h5 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #003466;
  padding: 5px;
  font-family: Helvetica;
  margin-top: 15px;
}

.title h3 {
  text-align: left;
  font-size: 14px;
  color: #000;
  padding: 5px;
  font-family: sans-serif;
  margin: 10px;
  margin-top: 0px;
}

.title h6 {
  text-align: left;
  font-size: 10px;
  color: #003466;
  padding: 5px;
  font-family: sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.title p {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.menutitle h3 {
  font-family: sans-serif;
  font-size: 30px;
  color: #003466;
  padding: 5px;
}

.cardmodal .modal-dialog{
  width: 252px !important; 
}

.video iframe {
  width: 225px;
  height: 125px;
  margin-top: 10px;
  margin-left: 10px;
  position: center;
}

.title h4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
}

.videomodal .modal-dialog{
  width: 245px !important; 
}

.article section {
  margin: 10px;
  background-image: linear-gradient(#eee, #fff);
  border-radius: 5px;
}
 
.article img {
  width: 100%;
}

.articleinfo {
  margin : 20px;
  text-align: justify;
}

.articleinfo h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #003466;
}

.articleinfo p {
  font-family: sans-serif;
  font-size: 12px;
}

.contactmodal img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.contactcity h4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #006DD7;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.contactmodal h5 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #006DD7;
  margin-left: 10px;
  margin-top: 10px;
}

.contactmodal h6 {
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

.contactmodal p {
  font-family: sans-serif;
  font-size: 12px;
  color: #006DD7;
  margin-left: 10px;
  margin-top: 10px;
}

.cardcontact {
  width: 250px;
  height: 200px;
  display: inline-block;
}

.accordionmodal .accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #aaa;
  width: 96%;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  transition: 0.4s;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.accordionmodal .accordion:hover {
  background-image: linear-gradient(#eee, #fff);
}

.accordionmodal .panel {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 96%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.accordionmodal p {
  font-size: 12px;
  margin :10px;
  text-align: justify;
}

.glossarymodal h4 {
  font-size: 14px;
  font-weight: bold;
  color: #006DD7;
  margin-top: 10px;
  margin-left: 10px;
}

.glossarymodal p {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.texteditor button{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.texteditor button:hover{
  background-color: #eee;
}

.texteditor img{
  height: 12px;
  width: 12px;
}

table {
  width: 100%;
  margin-top: 10px;
}

th, td {
  padding: 5px !important;
  border: 1px solid #003466 !important;
}

th {
  background-color: #006DD7;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center !important;
  font-family: sans-serif;
}

td:first-child{
  text-align: center;
}

td{
  font-size: 12px;
}

tr:hover{
  background-color: #ddd;
}

footer {
  background-color:  #003466;
  clear: both;
}

footer p {
  color: #fff;
  padding: 30px;
  margin: auto;
}

.searchbar{
  float: right;
}

.searchbar button{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
  height: 35px;
  width: 35px;
}

.searchbar button:hover{
  background-color: #eee;
}

.searchbar img{
  height: 15px;
  width: 15px;
}

.form-control{
  font-size: 14px !important;
}

.delete{
  margin: 10px;
}

.delete h3{
  font-size: 16px;
}

.delete button{
  background-color: #aaa;
  border-radius: 5px;
  color: #fff;
  width: 50px;
}